.login {
    width: 100%;
}

.login .form {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.login .form .title {
    margin: 0 auto;
    width: 120px;
}

.login .form span {
    color: #9E9E9E;
    font-size: 2vw;
}

.login .form .input {
    margin: 20px auto;
    width: 300px;
    display: block;
}

.login .form .input input {
    margin: 5px 0;
    padding: 0 10px;
    width: 300px;
    height: 50px;
    font-size: 20px;
}